
<h3 class="text-warning">Update Task</h3>
<hr>
<h6 class="alert alert-danger" *ngIf="!IsformValid">All the below fields are mandatory..!</h6>

<h6 class="alert alert-danger" *ngIf="isStartDateGreater">Start Date is after the End Date, please rectify..!</h6>
  <h6 class="alert alert-success" *ngIf="IsUpdatedSuccessFully">Task updated successfully...</h6>
 
<table class="table table-striped">
    <tbody>
       <tr>
          <td colspan="1">
             <form    class="well form-horizontal">
                <fieldset>
                     <div class="form-group">
                           <label class="col-md-4 control-label">Task Id:</label>
                           <div class="col-md-8 inputGroupContainer">
                              
                              <div class="input-group"><input id="TaskID" [(ngModel)]="taskID"  name="TaskID" readonly class="form-control"  type="text"></div>
                           </div>
                        </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Task:</label>
                      <div class="col-md-8 inputGroupContainer">
                         
                         <div class="input-group"><input id="TaskName" [(ngModel)]="task1"  name="TaskName" placeholder="Task Details" class="form-control" required="true" type="text"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Priority</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                            <label for="rangeval">{{ rangeval.value }}</label>
                            <input id="Priority" #rangeval [(ngModel)]="priority"   name="Priority"  class="form-control-range" required="true"  type="range" min="0" max="30" ></div>                    
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Parent Task Id:</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><input id="ParentTask" [(ngModel)]="parentalId"  #ParentTask name="ParentTask" placeholder="Parent Task Id" class="form-control" required="true"  type="number"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Start Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                           <input id="StartDate" name="StartDate" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate=$event" class="form-control" required="true"  type="date"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">End Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><input id="EndDate" name="EndDate" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate=$event"   class="form-control" required="true" type="date"></div>
                      </div>
                   </div>
                                   
              <div style="padding:20px"> <button class="btn btn-primary" (click)="UpdateTask()" type="submit">Update Task</button> &nbsp; &nbsp; <a routerLink="/view-task-mgr"><button class="btn btn-info"  type="button">Cancel</button></a> </div>
                </fieldset>
             </form>
          </td>
         
       </tr>
    </tbody>
 </table>
 